* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    min-height: 70vh; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99z;
  background-color: transparent; /* color */
  padding: 20px; /* Add some padding around the header */
  text-align: center; /* Center the text within the header */
}

img{
  height: 38px;
} 

/* <--------------------------- NAVIGATION ------------------------------> */

.navigation a {
    position: relative; 
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 30px;
}

.navigation a::after { 
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

/* <--------------------------- NAVIGATION LOGIN BUTTON ------------------------------> */

#login-button {
    width: 130px;
    height: 50px;
    background: #ff9100;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

#login-button:hover {
    background: #d17702;
    color: black;
}

/* <----------------------------------- POST ---------------------------------------> */

.post {
    position: relative;
    width: 950px;
    height: 380px;
    background-color: #1b1c1d;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .post img {
    position: relative;
    right: 0;
    left: 0;
    margin-top: 1rem;
    width: 98%;
    height: 100%;
    /*border-radius: 5px 5px 0 0; */
  }
  
  .post h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #c4c4c4;
  }
  
  .post a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px 16px;
    background-color: #333333;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #c4c4c4;
  }
  
  .post-heading {
    margin-top: 65px;
    font-size: 20px;
    font-weight: bold;
    color: #c4c4c4;
    margin-right: 710px;
  
  }
  
  .post-content {
    color: #c4c4c4;
    margin-top: 1rem;
    margin-right: 400px;
  }
  